@{
    ViewData["Title"] = "Dashboard";
    @model List<ViewDashboardModel>;
    int sno = 1;
}

<div class="text-center">

    <div class="card">
        @*<div class="card-header bg-secondary text-white"><h1 class="display-6"><b>Dashboard</b></h1></div>*@
        <div class="card-header bg-secondary text-white"><h1 class="display-6"><b>Dashboard Test</b></h1></div>
        <div class="card-body">
            <div class="card-header bg-dark text-white"><h1 class="display-6 my-auto" style="font-size: 26px !important"><b>Statistics</b></h1></div>
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <div class="card">
                        <div class="card-body">
                            <div style="width: 300px; height: 300px;">
                                <canvas id="CatQuantChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div style="width: 600px; height: 300px;">
                                <canvas id="LocQuantChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-header bg-dark text-white"><h1 class="display-6 my-auto" style="font-size: 26px !important"><b>Available Donations</b></h1></div>
            @if (Model.Count() > 0)
            {
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>
                                S/N
                            </th>
                            <th>
                                Donation Name
                            </th>
                            <th>
                                Location Name
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Expiry Date
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @sno
                                    @{sno++;}
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.donationName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.locationName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.category)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.expiryDate)
                                </td>
                                <td>
                                    <a href="#" class="btn btn-danger">Cancel</a>
                                </td>
                                <td>
                                    <a href="#" class="btn btn-success">Reserve</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
            else
            {
                <p>
                    No Available Donations
                </p>
            }
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('CatQuantChart');
    const chart1 = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [@Html.Raw(string.Join(",", Model.Select(e => $"'{e.category}'")))],
            datasets: [{
                data: [@string.Join(",", Model.Select(e => e.quantity))],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)',
                    'rgb(54, 255, 99)',
                    'rgb(255, 99, 255)',
                    'rgb(54, 205, 86)',
                    'rgb(162, 162, 162)',
                    'rgb(54, 99, 99)'
                ], hoverOffset: 4
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Food Donation Quantity Per Category'
                }
            }
        },
    });

    const ctx2 = document.getElementById('LocQuantChart');
    const chart2 = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: [@Html.Raw(string.Join(",", Model.Select(e => $"'{e.locationName}'")))],
            datasets: [{
                label: 'Food Donation Quantity Per Location',
                data: [@string.Join(",", Model.Select(e => e.quantity))],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(255, 159, 64, 0.5)',
                    'rgba(255, 205, 86, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(153, 102, 255, 0.5)',
                    'rgba(201, 203, 207, 0.5)'
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                ],
                borderWidth: 1,
                hoverOffset: 4
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    display: false,
                },
                title: {
                    display: true,
                    text: 'Food Donation Quantity Per Location'
                }
            }
        },
    });
</script>