@{
    ViewData["Title"] = "New Collection";
    @model CreateCollectionModel;
}

<div class="text-center my-auto">
    <div class="card">
        <div class="card-header bg-secondary text-white"><h1>New Collection</h1></div>
        <div class="card-body">


            <div class="container-fluid col-lg-4 col-6">

                <br />
                <div class="alert alert-danger" style="@(@ViewBag.ErrorMessage == null? "display:none": "display:block")">
                    <p>@ViewBag.ErrorMessage</p>
                </div>
                @using (Html.BeginForm("CreateCollection", "Collections", FormMethod.Post))
                {
            <form>
                <div class="form-group">
                    <input class="form-control" placeholder="Collection Name" name="CollectionName" id="CollectionName">
                </div>
                <br />
                <div class="form-group">
                    @Html.TextBoxFor(model => model.CollectionDate, new { @class = "form-control", @type = "text", @placeholder = "Select Collection Date", @onfocus = "this.type='datetime-local'", @onblur = "if(this.value==='s')this.type='text'" })
                </div>
                <br />
                <div class="form-group">
                    @Html.DropDownListFor(m => m.donationId,
                                     new SelectList(Model.DonationList, "donationId", "donationName"),
                                     "Select Donation", new { @class = "form-control" })
                </div>
                <br />
                <div class="form-group">
                    <button type="submit" class="btn btn-success col-12">Create Collection</button>
                </div>
                <br />
            </form>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker( //Initialise any datetime pickers
            {
                defaultDate: '@Model.CollectionDate',
                    showTodayButton: true,
                    format: 'YYYY-MM-DD HH:mm:ss',
                    showClose: true,
                    showClear: true,
                    toolbarPlacement: 'top',
                    stepping: 15
                });
    });
</script>